<ion-tabs class="tabs-striped tabs-icon-top tabs-background-stable tabs-positive">
  <ion-tab title="Doughnut Chart" icon="icon ion-ionic" href="#/tab/donutchart/morris">
    <ion-nav-bar class="bar bar-calm"></ion-nav-bar>
    <ion-nav-view name="tab-donut"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Bar Chart" icon="icon ion-stats-bars" href="#/tab/barchart/morris">
    <ion-nav-bar class="bar bar-calm"></ion-nav-bar>
    <ion-nav-view name="tab-bar"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Line Chart" icon="icon ion-arrow-graph-up-right" href="#/tab/linechart/morris">
    <ion-nav-bar class="bar bar-calm"></ion-nav-bar>
    <ion-nav-view name="tab-line"></ion-nav-view>
  </ion-tab>
</ion-tabs>
